@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/fonts';
@import 'base/mixins';
@import 'base/variables.scss';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

ul, li {
    padding: 0;
    margin: 0;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/submenu';
@import 'blocks/header';
