.btn {
    background-color: $btnbg;
    color: $colorwhite;
    padding: 13px 75px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
}

.hamburger-icon {
    margin-right: 16px;
}