.title {
    padding: 0;
    margin: 0;
    &_fz12 {
        font-size: 12px;
        line-height: 14px;
    }
    &_fz14 {
        font-size: 14px;
    }
    &_fz16 {
        font-size: 16px;
    }
    &_fz18 {
        font-size: 18px;
    }

     &_fz120 {
        font-size: 20px;
    }
    &_fz24 {
        font-size: 24px;
    }
    &_fz30 {
        font-size: 30px;
    }
}